.bncc-page{
    min-height: 100vh;
    background-color: #1c2237;
    color: #fff;
}
.bncc-page .card-image-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bncc-page .card-image {
    max-height: 100%;
}

.bncc-page .text-link {
    color: #b1b1b1;
}

.bncc-page .back-icon {
    font-size: xx-large;
}
